<div class="page-wrapper">

    <div class="container">
        <div class="row justify-content-center align-items-center overall-ht-box ">
            <div class="col-md-6">
                <div class=" mb-3 text-center">
                    <!-- <img src="../../../../assets/images/logo.png" width="20%"> -->
                </div>
                <div class="card overall-contentblock" *ngIf="loginStatus && !forgotStatus">
                    <div class="overall-content-header">
                        <h4>Login</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="loginForm" class="form-horizontal auth-form" (submit)="adminLogin()" novalidate="">
                            <div class="form-group">
                               <div class="row ml-5">
                                <div class="col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" formControlName="role" name="role" id="role3" value="Client">
                                        <label class="form-check-label" for="role3">
                                           Client
                                        </label>
                                      </div>
                                </div>
                                   <div class="col-md-5">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" formControlName="role" name="role" id="role1" value="Admin" checked>
                                        <label class="form-check-label" for="role1">
                                          Admin
                                        </label>
                                      </div>
                                   </div>
                                <div *ngIf="submitted && f.role.errors" >
                                    <div *ngIf="f.role.errors.required" class="text-danger">
                                     Role  is required
                                    </div>
                                </div>
                               </div>
                            </div>
                            <div class="form-group">
                                <input required="" formControlName="email" type="email" class="form-control" placeholder="Email Id" id="exampleInputEmail1" [ngClass]="{
                      'is-invalid': submitted && f.email.errors
                    }" />
                                <div *ngIf="submitted && f.email.errors" >
                                    <div *ngIf="f.email.errors.required" class="text-danger">
                                        Email Id is required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input required="" formControlName="password" type="password" class="form-control" placeholder="Password" [ngClass]="{
                      'is-invalid': submitted && f.password.errors
                    }" />
                                <div *ngIf="submitted && f.password.errors" >
                                    <div *ngIf="f.password.errors.required" class="text-danger">
                                        Password is required
                                    </div>
                                </div>
                            </div>
                            <div class="form-button">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p style="display: inline;">Don't have account?<span class="h6 ml-1" style="color:rgb(116, 235, 116);cursor: pointer;" (click)="loginStatus = !loginStatus">Create New One</span></p>
                                    </div>
                                    <div class="col-md-4">
                                        <p style="color:rgb(125, 189, 241);cursor: pointer;" (click)="forgotStatus = !forgotStatus">Forgot Password</p>

                                    </div>
                                </div>
                            </div>
                            <button class="btn float-right lgn-btn">
                                <span class="fa-stack fa-lg crsr-pointer"> <i class="fa fa-circle fa-stack-2x text-blue"></i>
                                    <i class="fa fa-angle-right fa-stack-1x fa-inverse"></i></span>
                             
                            </button>
                        </form>
                    </div>
                </div>
                <div class="card overall-contentblock" *ngIf="forgotStatus">
                    <div class="overall-content-header">
                        <h4>Forgot Password</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="forgotForm" class="form-horizontal auth-form" (submit)="forgotPassword()" novalidate="">
                            <div class="form-group">
                                <input required="" formControlName="email" type="email" class="form-control" placeholder="Email Id" id="exampleInputEmail1" [ngClass]="{
                      'is-invalid': submitted && h.email.errors
                    }" />
                                <div *ngIf="submitted && h.email.errors" >
                                    <div *ngIf="h.email.errors.required" class="text-danger">
                                        Email Id is required
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="form-button">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p style="display: inline;">Don't have account?<span class="h6 ml-1" style="color:rgb(116, 235, 116);cursor: pointer;" (click)="loginStatus = !loginStatus">Create New One</span></p>
                                    </div>
                                    <div class="col-md-4">
                                        <p style="color:rgb(125, 189, 241);cursor: pointer;">Forgot Password</p>

                                    </div>
                                </div>
                            </div> -->
                            <button class="btn float-right lgn-btn">
                                <span class="fa-stack fa-lg crsr-pointer"> <i class="fa fa-circle fa-stack-2x text-blue"></i>
                                    <i class="fa fa-angle-right fa-stack-1x fa-inverse"></i></span>
                             
                            </button>
                        </form>
                    </div>
                </div>
                <div class="card overall-contentblock" *ngIf="!loginStatus && !forgotStatus">
                    <div class="overall-content-header">
                        <h4>Registration</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="registerForm" class="form-horizontal auth-form" (submit)="memberReg()" novalidate="">
                            <div class="form-group">
                                <input required="" formControlName="firstName" type="text" class="form-control" placeholder="First Name" id="exampleInputEmail1" [ngClass]="{
                      'is-invalid': submitted && g.firstName.errors
                    }" />
                                <div *ngIf="submitted && g.firstName.errors" >
                                    <div *ngIf="g.firstName.errors.required" class="text-danger">
                                        First Name Id is required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input required="" formControlName="lastName" type="text" class="form-control" placeholder="Last Name" id="exampleInputEmail1" [ngClass]="{
                      'is-invalid': submitted && g.lastName.errors
                    }" />
                                <div *ngIf="submitted && g.lastName.errors" >
                                    <div *ngIf="g.lastName.errors.required" class="text-danger">
                                        Last Name is required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input required="" formControlName="userName" type="text" class="form-control" placeholder="Client Username" id="exampleInputEmail1" [ngClass]="{
                      'is-invalid': submitted && g.userName.errors
                    }" />
                                <div *ngIf="submitted && g.userName.errors" >
                                    <div *ngIf="g.userName.errors.required" class="text-danger">
                                        user name is required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input required="" formControlName="email" type="email" class="form-control" placeholder="Email Id" id="exampleInputEmail1" [ngClass]="{
                      'is-invalid': submitted && g.email.errors
                    }" />
                                <div *ngIf="submitted && g.email.errors" >
                                    <div *ngIf="g.email.errors.required" class="text-danger">
                                        Email Id is required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input required="" formControlName="password" type="password" class="form-control" placeholder="Password" [ngClass]="{
                      'is-invalid': submitted && g.password.errors
                    }" />
                                <div *ngIf="submitted && g.password.errors" >
                                    <div *ngIf="g.password.errors.required" class="text-danger">
                                        Password is required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input required="" formControlName="confirmPassword" type="password" class="form-control" placeholder="confirmPassword" [ngClass]="{
                      'is-invalid': submitted && g.confirmPassword.errors
                    }" />
                                <div *ngIf="submitted && g.confirmPassword.errors" >
                                    <div *ngIf="g.confirmPassword.errors.required" class="text-danger">
                                        Confirm Password is required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input required="" formControlName="phone" type="number" class="form-control" placeholder="Mobile Number" [ngClass]="{
                      'is-invalid': submitted && g.phone.errors
                    }" />
                                <div *ngIf="submitted && g.phone.errors" >
                                    <div *ngIf="g.phone.errors.required" class="text-danger">
                                        phone number is required
                                    </div>
                                </div>
                            </div>
                            <div class="form-button">
                                <p style="display: inline;">Already have an account <span class="h6 ml-1" style="color:rgb(116, 235, 116);cursor: pointer;" (click)="loginStatus = !loginStatus">Login In</span></p>
                               
                                <button class="btn float-right lgn-btn">
                                    <span class="fa-stack fa-lg crsr-pointer"> <i class="fa fa-circle fa-stack-2x text-blue"></i>
                                        <i class="fa fa-angle-right fa-stack-1x fa-inverse"></i></span>
                                 
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>