// fonts
$nunito:'Nunito', sans-serif;
$poppins:'Poppins', sans-serif;
// color
$light-grey:#f9fafc;
$white:#fff;
$blue:rgb(17, 16, 16);
$red:#ed3238;
$yellow:#fdc000;
$green:#13aa92;
$grad1:black;
$grad2:black;
$hover-color:rgb(134, 233, 236);
// site
$base-text:#343a40;